<h1>  <%= @user.full_name %>'s House Depot Profile</h1><hr>





<h5>Your order history</h5>
<ul>
<%@user.orders.each do |o|%>
<%o.items.each do |i|%>
<li><%=i.item_name%> - price: $<%=i.price%> - <%=button_to 'Edit order', edit_order_path(o.id), method: :get%></li>
    <%end%>
<%end%>


 </li>
 </ul>


<br><br><hr> 
Hi, <%= @user.first_name%>, what would you like to do today?
<br></br>
<%= button_to "Edit Customer Details", edit_user_path(@user), method: :get %><br>
<%= button_to "Delete my Account", @user, method: :delete, :confirm => 'Are you sure?' %>


<br> <%= button_to "Logout", logout_path(@user), method: 'get' %><hr>

<footer> 

<%= button_to "Back To Main Menu", home_path, method: :get  %><br>
</footer>



