<h1>Customer Profile for: <%= @user.full_name %> </h1><br><hr>

<h3 class="info">
<%= @user.created_at.strftime("Customer since: %B %d, %Y") %><br><br>

Total Lifetime Orders: <%=  @user.total_orders %><br><br>

 Favorite Store: <%= @user.favorite_store %><br><br>

 Date of last activity: <%= @user.last_activity %><br><br><br><hr>
</h3>

<h2 class="list_title">Order History:</h2>
<ul>
<%@user.orders.each do |o|%>

<%o.items.each do |i|%>
<li><%=i.item_name%> - price: $<%=i.price%> <%=button_to 'Edit order', edit_order_path(o.id), method: :get%></li>
   
    <%end%>
<%end%>
 </li>
 </ul>

<br><hr> 


<br>
<%= button_to "Edit Customer Details", edit_user_path(@user), method: :get %><br>
<%= button_to "Delete my Account", @user, method: :delete, :confirm => 'Are you sure?' %><br>



<%= button_to "Back To Main Menu", home_path, method: :get  %><br>

<hr>
<h3>Logged in as: <%= @user.full_name%></h3>
<br><%= button_to "Logout", logout_path(@user), method: 'get' %>
