<h1>  Customer's Full Name:   <%= @user.full_name %></h1><hr>

<h2> Total Spent : $<%=@user.total_spent %>.00</h2><br><br>
 <h2> Order History by Date : <li><%= @user.orders_by_date %></li></h2>

<br><br><hr> 
<%= button_to "Edit Customer Details", edit_user_path(@user), method: :get %><br>
<%= button_to "Delete this Profile", @user, method: :delete %>

<br> <%= button_to "Back To Main Menu", root_path, method: :get  %><br><hr>
