<header>
<div><%=button_to 'Main Menu', home_path, method: :get %> 
<hr>
</header>

<h2>Edit your order<h2>
<%# <%= render 'form', order: Order.edit %>

<%= form_for @order do |f| %>

 <ul>
  <%@order.items.each do |item|%>
  <li><%=item.item_name%></li> - <%= button_to 'Delete'%>
  <%end%>
  </ul>
 <h4><%= f.label "Select items:" %></h4>
  <%= f.collection_check_boxes(:item_ids, Item.all, :id, :item_name) do |b|%>
   <%=b.label(class: "checkbox-inline") { b.check_box + b.text }%>
  <%end%>
  <br/>
  <br/>

  <%= button_to 'Back to order', new_order_path(@order.id), method: :post%>
<% end %>