<h2>Edit your order<h2>
<%# <%= render 'form', order: Order.edit %>

<%= form_for @order do |f| %>

 <ul>
  <%@order.items.each do |item|%>
  <li><%=item.item_name%></li> - <%= button_to 'Delete'%>
  <%end%>
  </ul>
  <h5><%=f.label 'Add item?'%><h5>
  <%= f.collection_check_boxes :item_ids, Item.all, :id, :item_name %>
  <br/>
  <br/>

  <%= button_to 'Back to order', new_order_path(@order.id), method: :post%>
<% end %>