<h2>Order Details</h2>

<%@order.items.each do |order_item|%>
<div><%=link_to order_item.item_name, item_path(order_item.id)%></div>
<ul><li>Price: $<%=order_item.price%></li></ul>
<%end%>
<b>Order Total:</b> $<%=@order.total%><br>
    
    <%store = Store.find(@order.store_id)%>
<b>Order Pickup Location:</b> <%=store.location%><br>
<b>Order Pickup Date:</b> <%= @order.order_date%><br>

<br>
<div><%= button_to 'Main Menu', home_path, method: :get %> </div>
<div><%=button_to 'Edit my order',  edit_order_path(@order.id), method: :get %></div>

<%# edit_order_path(@order.id) %>
 